@font-face {
    font-family: myfont;
    src: url("./CrimsonText-BoldItalic.ttf");}

@font-face {
        font-family: myfontz;
        src: url("./CrimsonText-BoldItalic.ttf");
}
* {
    box-sizing: border-box;
}
html {}

body {
    background: radial-gradient(rgb(71, 69, 69), rgb(0, 0, 0));
    height: 200vh;
    width: 100vw;
    margin: 0;
}
.nav {
    position: fixed;
    height: 5rem;
    width: 100%;
    padding: 1rem;
    padding-inline: 2rem;
    z-index: 1;
    background-color: rgba(113, 139, 156, 0.877);
}
.one{
    position: absolute;
    right:0;
    top: 0;
    padding: 1rem;
}
.bg {
    /* height: 100%; */
    width: 100%;
}
.bg > img {
    width: 100%;
    object-fit: contain;
}

.b {
    color: azure;
    font-size: 40px;
    text-shadow: 2rem;
    position: absolute;
    top: 30px;
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    z-index: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.b{
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: myfontz;
}
.b > b {
    text-shadow:2px 2px 4px rgb(0, 0, 0);
    color: rgba(238, 240, 240, 0.822);
    font-family: myfont;
}